main {
  display: flex;
  flex-direction: column;
  gap: var(--size-11);
}

h2 {
  margin-block-end: var(--size-8);
}

li {
  flex: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: var(--size-8);
  padding-inline: var(--size-6);

  background: white;
  box-shadow: 16px 16px 0px 1px var(--gray-9);
  border: 3px solid var(--gray-9);
}

.hero h1 {
  color: var(--indigo-9);
  font-size: var(--font-size-fluid-3);
}

.hero p {
  font-size: var(--font-size-fluid-2);
}

#appearances ul,
#blog ul,
#portfolio ul {
  gap: var(--size-8);
}

#appearances a {
  font-size: var(--font-size-5);
  text-decoration: underline;
  text-decoration-color: var(--indigo-9);
}

#blog a:hover,
#portfolio a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .appearance {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
