@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@500&family=Merriweather:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-image: url('/bg.svg');
  background-repeat: repeat;
  background-size: 3px;
}

a[href] {
  @apply text-indigo-900 underline hover:text-indigo-700;
}

.heading-primary {
  @apply text-5xl font-bold text-center text-indigo-800 lg:text-6xl font-theme;
}
