@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@500&family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://unpkg.com/open-props');
@import url('https://unpkg.com/open-props/normalize.min.css');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--gray-8);
  font-family: 'Merriweather', serif;
  height: 100%;
  width: 100%;
  position: relative;
}

#site-body {
  max-width: 100ch;
  margin-inline: auto;
  padding-inline: var(--size-8);
  padding-block: var(--size-8);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--size-10);

  color: var(--gray-9);
  font-family: sans-serif;
  font-size: var(--font-size-3);
}

.nav-left {
  display: flex;
  gap: var(--size-8);
}

.nav-right {
  display: flex;
  gap: var(--size-4);
}

.nav-icon {
  width: 40px;
  height: 40px;
  display: flex;
  transition: color 200ms;
  appearance: none;
  border: none;
  background: none;
  color: var(--gray-9);
}

nav a:hover,
.nav-icon:hover {
  color: var(--gray-7);
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--size-2);
  position: fixed;
  bottom: 0;
  padding-block-end: var(--size-8);
}

footer a {
  font-weight: var(--font-weight-7);
  text-decoration: underline;
}

:root {
  --color-base: 255, 255, 255; /* white */
  --color-text-base: 0, 0, 0; /* black */
  --color-off-base: 249, 250, 251; /* gray-50 */
  --color-text-muted: 55, 65, 81; /* gray-700 */
  --color-text-muted-hover: 107, 114, 128; /* gray-500 */
  --color-primary: 30, 64, 175; /* blue-800 */
  --color-secondary: 96, 165, 250; /* blue-400 */
}

.theme-light {
  --color-base: 255, 255, 255; /* white */
  --color-text-base: 0, 0, 0; /* black */
  --color-off-base: 249, 250, 251; /* gray-50 */
  --color-text-muted: 55, 65, 81; /* gray-700 */
  --color-text-muted-hover: 107, 114, 128; /* gray-500 */
  --color-primary: 30, 64, 175; /* blue-800 */
  --color-secondary: 59, 130, 246; /* blue-500 */
}

.theme-dark {
  --color-base: 17, 24, 39; /* gray-900 */
  --color-text-base: 243, 244, 246; /* gray-100 */
  --color-off-base: 31, 41, 55; /* gray-800 */
  --color-text-muted: 229, 231, 235; /* gray-200 */
  --color-text-muted-hover: 209, 213, 219;
  --color-primary: 147, 197, 253; /* blue-300 */
  --color-secondary: 96, 165, 250; /* blue-400 */
}

.theme-gradient {
  --tw-gradient-stops: rgb(var(--color-secondary)), rgb(var(--color-primary));
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

h2 {
  position: relative;
}

h2::before {
  content: '';
  position: absolute;
  width: 25px;
  height: auto;
  aspect-ratio: 1/1;
  left: -2.5rem;
  top: 1rem;

  background-color: var(--indigo-2);
  border-radius: var(--radius-blob-4);
}

li {
  list-style-type: none;
}

a {
  color: currentColor;
}

a:visited {
  color: currentColor;
}
